/* общие настройки стиля текста*/
* {
  list-style: none;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  color: var(--primary-text-color);
}
/*ширина body*/
.full-document {
  box-sizing: border-box;
  width: 1600px;
}

/*отступы в шапке*/
.header-items {
  padding-top: 32px;
  padding-bottom: 32px;
}
/*контейнер*/
.container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  outline: 2px solid orange;
}
/* цветовые настройки для переменной */
:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
}

/*стиль текста шапки*/
.header-nav {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-nav a:hover,
.header-nav a:focus,
.contacts-header a:hover,
.contacts-header a:focus,
.current {
  color: var(--accent-color);
}
.contacts-header a {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contacts-header {
  margin: 0;
}

/*герой-контейнер*/
.hero-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
}

/* текст и кнопка в герое */
.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  padding: 0px 0px 30px;
  margin: 0;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero a {
  display: inline-block;
  height: 50;
  min-width: 200px;
  padding: 10px 30px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 0.06em;
}

/* раздел - особенности */
.features {
  margin-bottom: 94px;
}
.features-list {
  margin: 0;
  padding: 0;
}
.features-list p {
  margin-bottom: 0;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.features-title {
  padding: 0;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*раздел - чем мы занимаемся*/
.visual {
  margin-bottom: 94px;
}
.visual-features h2 {
  margin: 0 0 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.visual-items {
  margin: 0;
}

/*наша команда*/
.team {
  background-color: var(--background-color);
}
.team-list {
  margin: 0;
  padding: 0;
}
.team h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-profession {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* стиль фона и текста в подвале */
.footer {
  background-color: var(--secondary-background-color);
}
.footer-address a {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-address a:hover,
.footer-address a:focus {
  color: var(--accent-color);
}
#contact {
  color: var(--primary-white-color);
}
#contact:hover,
#contact:focus {
  color: var(--accent-color);
}

/* <-------страница-портфолио---------> */
/*ширина тела*/
.body-portfolio {
  box-sizing: border-box;
  width: 1600px;
}

/*отступ от шапки*/
.header-portfolio {
  margin-bottom: 94px;
}

/* навигация */
.portfolio-filter a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-color);
}
.portfolio-filter a:hover,
.portfolio-filter a:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio-service {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.portfolio-list,
.portfolio-filter {
  margin: 0;
}

/*подвал */
.footer-list {
  margin: 0;
}
